Importing the modules

In [3]:
import pandas as pd

In [6]:
df = pd.read_csv(r"D:\Portofilo\titanic\data\procesed.csv")
print(df.head(10))
print("**"*40)
print(df.tail(10))

   Unnamed: 0  PassengerId  Survived  Pclass                   Name     Sex  \
0           0            1         0       3        Mr. Owen Harris    male
1           1            2         1       1      Mrs. John Bradley  female
2           2            3         1       3            Miss. Laina  female
3           3            4         1       1     Mrs. Jacques Heath  female
4           4            5         0       3      Mr. William Henry    male
5           5            6         0       3              Mr. James    male
6           6            7         0       1          Mr. Timothy J    male
7           7            8         0       3  Master. Gosta Leonard    male
8           8            9         1       3           Mrs. Oscar W  female
9           9           10         1       2          Mrs. Nicholas  female

        Age  SibSp  Parch            Ticket     Fare     Embarked
0  22.00000      1      0         A/5 21171   7.2500  Southampton
1  38.00000      1      0          PC 17599  71.2833    Cherbourg
2  26.00000      0      0  STON/O2. 3101282   7.9250  Southampton
3  35.00000      1      0            113803  53.1000  Southampton
4  35.00000      0      0            373450   8.0500  Southampton
5  25.14062      0      0            330877   8.4583   Queenstown
6  54.00000      0      0             17463  51.8625  Southampton
7   2.00000      3      1            349909  21.0750  Southampton
8  27.00000      0      2            347742  11.1333  Southampton
9  14.00000      1      0            237736  30.0708    Cherbourg
********************************************************************************
     Unnamed: 0  PassengerId  Survived  Pclass  \
881         881          882         0       3
882         882          883         0       3
883         883          884         0       2
884         884          885         0       3
885         885          886         0       3
886         886          887         0       2
887         887          888         1       1
888         888          889         0       3
889         889          890         1       1
890         890          891         0       3

                               Name     Sex       Age  SibSp  Parch  \
881                      Mr. Johann    male  33.00000      0      0
882              Miss. Gerda Ulrika  female  22.00000      0      0
883             Mr. Frederick James    male  28.00000      0      0
884                    Mr. Henry Jr    male  25.00000      0      0
885                    Mrs. William  female  39.00000      0      5
886                     Rev. Juozas    male  27.00000      0      0
887            Miss. Margaret Edith  female  19.00000      0      0
888  Miss. Catherine Helen "Carrie"  female  25.14062      1      2
889                 Mr. Karl Howell    male  26.00000      0      0
890                     Mr. Patrick    male  32.00000      0      0

               Ticket     Fare     Embarked
881            349257   7.8958  Southampton
882              7552  10.5167  Southampton
883  C.A./SOTON 34068  10.5000  Southampton
884   SOTON/OQ 392076   7.0500  Southampton
885            382652  29.1250   Queenstown
886            211536  13.0000  Southampton
887            112053  30.0000  Southampton
888        W./C. 6607  23.4500  Southampton
889            111369  30.0000    Cherbourg
890            370376   7.7500   Queenstown